[submodule "gwidi_sfml/external/SFML"]
	path = gwidi_sfml/external/SFML
	url = git@github.com:SFML/SFML.git
[submodule "gwidi_sfml/external/Gwidi_Importer"]
	path = gwidi_sfml/external/Gwidi_Importer
	url = git@github.com:zphensley42/Gwidi_Importer.git
[submodule "gwidi_sfml/external/sfml_fs_widget"]
	path = gwidi_sfml/external/sfml_fs_widget
	url = git@github.com:zphensley42/sfml_fs_widget.git
[submodule "gwidi_sfml/external/sfml_base_widgets"]
	path = gwidi_sfml/external/sfml_base_widgets
	url = git@github.com:zphensley42/sfml_base_widgets.git
